/vendor/*
/config/app.php
/config/ca.crt
/config/ca.key
/webroot/up/dl/*
/tmp/*
/logs/*
/webroot/tuto.*
/.buildpath
/.project
/.settings
/.metadata
*.txt
composer.lock

webroot/fonts/fontawesome-webfont\.ttf

webroot/fonts/fontawesome-webfont\.eot

config/Migrations/schema-dump-default\.lock
